*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-md{
  max-width: 1140px;
}
.details{
  /* position: relative; */
  margin-top:29%;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1%; 
  line-height: 1.25em;
  text-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
}
.elementor-widget-wrap{
  animation: transitionIn 2s;
  object-fit: contain;
}
.navbarBody{
  background-size: cover;
  background-position: bottom;
}
.elementor-widget-wrap a{
  padding: 30px 28px 30px 28px;
  background-color: rgb(0, 0, 0);
  color: white;
  /* border-left:0.1px solid white; */
  text-align: center;
  /* width: 22%; */
  text-decoration: none;
}
.elementor-container{
  border-right: 0.1px solid rgb(109, 109, 109);
}
.elementor-container:hover{
  background-color: rgb(43, 43, 43);
  cursor: pointer;
}
.elementor-container a:last-child{
  border-right: 0;
}
.elementor-container h2{
  line-height: 1.35em;
  letter-spacing: 0.2px;
}
.elementor-container p{
  line-height: 1.35em;
  letter-spacing: 0.2px;
}
.div-left,.div-right{
  display: flex;
}
.image-right{
  margin-right:5.6%;
}
.image-left{
  margin-left:5.6%;
}
.about{
  margin-left: 5.6%;
}
.mainBody{
  margin-top:7%;
  margin-bottom:7%;
}
.about-left{
  margin-right: 5.6%;
}
.about-right{
  margin-left: 5.6%;
}
.about-left,.about-right{
  padding: 6% 5%;
}
.upperFooter{
  display: flex;
  background-color: black;
}
.right{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 28%;
}
.right button{
  color: white;
  background-color: black;
  border: 2px solid white;
  font-size: 20px;
}
.right button:hover{
  color: black;
  background-color: white;
  cursor: pointer;
}
.lowerFooter{
  background-color: rgb(39, 39, 39);
  /* display: flex; */
  color: white;
  /* padding: 4%; */
}
.footer1, .footer2, .footer3 , .footer4{
  /* display: flex; */
  flex-direction: column;
}
.footer2 a,.footer3 a, .footer4 a{
  text-decoration: none;
  color: white;
}
@keyframes transitionIn{
  from{
      opacity: 0;
      transform: translateY(-15px);
  }
  to{
      opacity: 1;
      transform: translateY(0);
  }
}
.vertical-center {
  display: flex;
  align-items: center;
}
.card-hover:hover{
  background: black;
  color: white;
  cursor: pointer;
}
.card-hover{
  overflow: hidden;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
.footer-bg{
  background-color: #262626;
  color: white;
}
.footer2,.footer3,.footer4{
  display: flex;
}
.conainer-1200{
  max-width: 1200px;
}
.body-image-left{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.body-left-image-about{
  display: flex;
  align-items: center;
}
.body-image-right{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.body-right-image-about{
  display: flex;
  align-items: center;
}
.header-heading{
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  text-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
}
.header-about{
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
.container-1140 {
  max-width: 1140px;
}
.body-image-h4{
  font-weight: 600;
  font-size: 24px;
}
.body-image-p{
  font-weight: 400;
  font-size: 15px;
}
.footer-image{
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.footer-btn{
  border: 2px solid white;
  background-color: black;
  color : white;
}
.footer-btn:hover{
  background-color: white;
  color: black;
}
@media only screen and (max-width: 600px) {
  .row-odd {
    flex-direction: column-reverse;
  }
  .about-mobile-space {
    padding: 40px 10px;
  }
  .body-image-left {
    height: 300px;
    object-fit: cover;
  }
  .body-image-right {
    height: 300px;
    object-fit: cover;
  }
  .mobile-space{
    padding :15px 15px 0px 15px;
  }
  .navbarBody{
    min-height: 550px;
  }
  .mobile-version-footer {
    padding: 30px 0px 30px 0px;
  }
  .details-mobile{
    padding: 20px 20px 20px 20px;
  }
}
body{
  overflow-x:hidden;
}