@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
*{
  font-family: 'Segoe UI', sans-serif;
  box-sizing: border-box;
}
.details{
  /* position: relative; */
  margin-top:29%;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1%;
}
.elementor_widget_wrap{
  /* padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:7%;
  margin-right:7%; */
  animation: transitionIn 2s;
  object-fit: contain;
}
.elementor_widget_wrap a{
  padding: 2%;
  background-color: rgb(0, 0, 0);
  color: white;
  border-left:0.1px solid white;
  text-align: center;
  width: 22%;
  text-decoration: none;
}
.elementor_widget_wrap a:hover{
  background-color: rgb(32, 32, 32);
  cursor: pointer;
}
.div-left,.div-right{
  display: flex;
}
.image-right{
  margin-right:5.6%;
}
.image-left{
  margin-left:5.6%;
}
.about{
  margin-left: 5.6%;
}
.mainBody{
  margin-top:7%;
  margin-bottom:7%;
}
.about-left{
  margin-right: 5.6%;
}
.about-right{
  margin-left: 5.6%;
}
.about-left,.about-right{
  padding: 6% 5%;
}
.upperFooter{
  display: flex;
  background-color: black;
}
.right{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 28%;
}
.right button{
  color: white;
  background-color: black;
  border: 2px solid white;
  font-size: 20px;
}
.right button:hover{
  color: black;
  background-color: white;
  cursor: pointer;
}
.lowerFooter{
  background-color: rgb(39, 39, 39);
  /* display: flex; */
  color: white;
  /* padding: 4%; */
}
.footer1, .footer2, .footer3 , .footer4{
  /* display: flex; */
  flex-direction: column;
}
.footer2 a,.footer3 a, .footer4 a{
  text-decoration: none;
  color: white;
}
@keyframes transitionIn{
  from{
      opacity: 0;
      transform: translateY(-15px);
  }
  to{
      opacity: 1;
      transform: translateY(0);
  }
}
.vertical-center {
  display: flex;
  align-items: center;
}
.card-hover:hover{
  background: black;
  color: white;
  cursor: pointer;
}
.card-hover{
  overflow: hidden;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
.footer-bg{
  background-color: #262626;
  color: white;
}
.footer2,.footer3,.footer4{
  display: flex;
}
.conainer-1200{
  max-width: 1200px;
}