* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container-md {
  max-width: 1140px;
}
.container-980{
  max-width: 980px;
}
.details {
  /* margin-top: 29%; */
  text-align: center;
  font-weight: bold;
  /* padding-bottom: 1%; */
  position: absolute;
  bottom: 0px;
  line-height: 1.25em;
  text-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
}
.elementor-widget-wrap {
  animation: transitionIn 2s;
  object-fit: contain;
}

.elementor-widget-wrap a {
  padding: 30px 30px 30px 30px;
  background-color: rgb(0, 0, 0);
  margin: 0px;
  color: white;
  text-align: center;
  text-decoration: none;
}
.elementor-container {
  border-right: 0.1px solid rgb(109, 109, 109);
}
.elementor-container:hover {
  background-color: rgb(43, 43, 43);
  cursor: pointer;
}
.elementor-container a:last-child {
  border-right: 0;
}
/* .elementor-container h2 {
  line-height: 1.35em;
  letter-spacing: 0.2px;
}
.elementor-container p {
  line-height: 1.35em;
  letter-spacing: 0.2px;
} */
.div-left,
.div-right {
  display: flex;
}
.image-right {
  margin-right: 5.6%;
}
.image-left {
  margin-left: 5.6%;
}
.about {
  margin-left: 5.6%;
}
.mainBody {
  margin-top: 7%;
  margin-bottom: 7%;
}
.about-left {
  margin-right: 5.6%;
}
.about-right {
  margin-left: 5.6%;
}
.about-left,
.about-right {
  padding: 6% 5%;
}
.upperFooter {
  display: flex;
  background-color: black;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 28%;
}
.right button {
  color: white;
  background-color: black;
  border: 2px solid white;
  font-size: 20px;
}
.right button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
.lowerFooter {
  background-color: rgb(39, 39, 39);
  /* display: flex; */
  color: white;
  /* padding: 4%; */
}
.footer1,
.footer2 {
  /* display: flex; */
  flex-direction: column;
}
.footer2 a {
  text-decoration: none;
  color: white;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.vertical-center {
  display: flex;
  align-items: center;
}
.card-hover:hover {
  background: black;
  color: white;
  cursor: pointer;
}
.card-hover {
  overflow: hidden;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}
.footer-bg {
  background-color: #262626;
  color: white;
}
.footer2 {
  display: flex;
}
.conainer-1200 {
  max-width: 1200px;
}
.body-image-left {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.body-left-image-about {
  display: flex;
  align-items: center;
}
.image-about {
  padding: 0px 40px 0px 60px;
}
.image-about-right {
  padding: 0px 60px 0px 40px;
}
.body-image-right {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 600px;
}
.body-right-image-about {
  display: flex;
  align-items: center;
}
.header-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  text-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
}
.header-about {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
.container-1140 {
  max-width: 1140px;
}
.body-image-h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.body-image-p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
.footer-image {
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.footer-btn {
  border: 2px solid white;
  background-color: black;
  color: white;
}
.footer-btn:hover {
  background-color: white;
  color: black;
}
.elementor-container-cards-h5 {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
}
.elementor-container-cards-p {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
.card-div {
  padding: 25px;
}
.elementor-container-heading {
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
}
.map-h4 {
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
}
.map-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.map-heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}
.form-bg {
  background-color: #f9f9f9;
  border: 0;
}
.form-p {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
.form-h4 {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
.disclaimer-h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}
.disclaimer-h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.disclaimer-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.privacypol-ul {
  margin-left: 50px;
}
.current-pos-h4 {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
}
.current-pos-p {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
.curr-pos-heading {
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
}
.footer-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.black-cards a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(0, 0, 0);
}
.black-cards-container:hover {
  background-color: rgb(43, 43, 43);
  cursor: pointer;
  color: white;
}
.black-cards-container{
  color: white;
  text-align: center;
  text-decoration: none;
}
.black-cards-container {
  animation: transitionIn 2s;
  object-fit: contain;
}
.nav-padding{
  padding: 13px 20px;
}
/* .herosection {
  background-size: cover ;
  background-position: bottom;
  min-height: 90vh;
  margin-top: -66px;
} */
.herosection {
  background-size: cover;
  background-position: bottom;
  min-height: 87vh;
  margin-top: -65px;
  position: relative;
  text-align: center;
  justify-content: center;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .row-odd {
    flex-direction: column-reverse;
  }
  .about-mobile-space {
    padding: 40px 10px;
  }
  .body-image-left {
    height: 300px;
    object-fit: cover;
  }
  .body-image-right {
    height: 300px;
    object-fit: cover;
  }
  .mobile-space {
    padding: 15px 15px 0px 15px;
  }
  
  .mobile-version-footer {
    padding: 30px 0px 30px 0px;
  }
  .details-mobile {
    padding: 30px 30px 30px 30px;
  }
  .header-heading {
    font-weight: 600;
    font-size: 38px;
    line-height: 48px;
    text-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
  }
  .header-about {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .black-mobile-space{
    padding: 15px 15px 15px 15px;
  }
  * {
    overflow-x: hidden;
  }
}
.container-1200{
  max-width: 1200px;
}
.container-1000 {
  max-width: 900px;
}
.card-on-hover:hover {
  background-color: #000000;
  color: white;
  cursor: pointer;
}
